h1, h2 {
  text-align: center;
}

table {
  margin-right: auto;
  margin-left: auto;
}

td {
  width: 175px;
  height: 175px;
  text-align: center;
  font-size: 120px;
}

[id="1"] {
  border-right:5px solid; 
  border-bottom: 5px solid; 
}

[id="2"] {
  border-bottom: 5px solid;
  border-right: 5px solid;
  border-left: 5px solid;
}

[id="3"] {
  border-left: 5px solid;
  border-bottom: 5px solid;
}

[id="4"] {
 border-right: 5px solid;
 border-top: 5px solid;
 border-bottom: 5px solid;
}

[id="5"] {
  border: 5px solid;
}

[id="6"] {
 border-bottom: 5px solid;
 border-top: 5px solid;
 border-left: 5px solid;
}

[id="7"] {
 border-top: 5px solid;
 border-right: 5px solid;
}

[id="8"] {
  border-top: 5px solid;
  border-right: 5px solid;
  border-left: 5px solid;
}

[id="9"] {
 border-top: 5px solid;
 border-left: 5px solid; 
}

